language: python
python:
    - 2.7.8
    - 3.3

install:
    - pip install pytest pytest-cov
    - pip install -r requirements.txt
    - travis_retry python setup.py install
    
script:
    - py.test dbops/tests/test_default_inits.py
